@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700;6..12,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  color: #191919;
}
@media screen and (max-width: 1024px) {
  * {
    user-select: none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  background: #f1eded;
}

@media screen and (max-width: 540px) {
  html {
    width: auto;
    height: auto;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
input {
  background-color: #fff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  user-select: none;
}
button:focus {
  outline: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  line-height: 22px;
}

span,
b,
div {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}
p {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #191919;
}

img {
  pointer-events: none;
  outline: none;
  border: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}
